body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #19202B;
  transition: all 0.5s ease-in-out;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;

}
.popup {
  background: #19202B;
  color: white;
  padding: 2rem;
  text-align: center;
}
#popup-root .popup-content {
  margin: auto;
  background: #19202B;
  width: 50%;
  padding: 5px;
  border: none;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}
li {
  cursor: pointer;
  font-size: 1.4rem;
}
h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 4rem;
}
h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 3rem;
}
p {
  font-family: 'Source Sans 3', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}


